extends layout

block content
   .container
    h1 #{title}
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
                
            
    form(action="/categories/add", method="post")
        .form-group
            label(for="title") Title
            input.form-control(type="text",name="title",id="title")
        .form-group
            label(for="description") Description
            textarea.form-control(name="description", cols="30", rows="10",id="description")
        input.btn.btn-primary(type="submit", value="Save",name="submit")
        a.btn.btn-danger(href="/manage/categories") Back
            
