extends layout

block content
  .container
    .row
      .col-md-9
        h1 #{title}
      .col-md-3.mb-2
        a(href="/manage/categories/add",class="btn btn-primary") Add Category
    table(class="table table-hover table-striped")
      tr
        th Category Title
        th
        each val , i in categories
          tr
            td #{val.title}
            td 
             a(class="btn btn-success",href="/manage/categories/edit/"+val._id) Edit
             a.btn.btn-danger.category-delete(href="/manage/categories",data-id=val._id) Delete
            
             
                
        
